<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" href="../../css/layout.css" />
<link rel="stylesheet" href="../../css/style.css" />
<title>社員管理システム</title>
</head>
<body class="list">
	<header>
		<div class="container">
			<h1 class="site_title">社員管理システム</h1>
			<div class="user_info">ようこそ、<a href="../update/update_input.html">田中二郎</a>さん<span class="pipeline">|</span><a href="../index.html">ログアウト</a>
			</div>
		</div>
	</header>

	<div class="container content">
		<aside class="search">
			<div class="title">社員名検索</div>
			<div class="form">
				<form action="list.html">
					<input type="text" name="empName" />
					<input type="submit" value="検索" />
				</form>
			</div>
			<div class="title">部署名検索</div>
			<div class="form">
				<form action="list.html">
					<select name="deptId">
						<option value="1" selected="selected">営業部</option>
						<option value="2">経理部</option>
						<option value="3">総務部</option>
					</select>
					<input type="submit" value="検索" />
				</form>
			</div>
		</aside>

		<article class="main">
			<h3 class="page_title">社員一覧画面</h3>
			<div class="regist_link">
				<a href="../regist/regist_input.html">新規社員登録</a>
			</div>

			<div class="message">
				<p class="back_to_top_message">該当する社員は存在しません。</p>
				<p class="back_to_top_link"><a href="list.html">一覧表示に戻る</a></p>
			</div>
		</article>
	</div>

	<footer>
		<small>Copyright(C) 2017 System Shared co., ltd, ALL Rights Reserved</small>
		<!-- small要素は免責・著作権・ライセンス要件などを表す際に使用します。 -->
	</footer>
</body>
</html>